<template>
    <canvas id="earthCanvas" touch-action="none"></canvas>
</template>

<script lang="ts">
import Options from "vue-class-component";
import Vue from "vue-class-component";
import '@babylonjs/core/Debug/debugLayer';
import '@babylonjs/inspector';
import '@babylonjs/loaders/glTF';
import {
  Engine,
  Scene,
  ArcRotateCamera,
  Texture,
  StandardMaterial,
  Vector3,
  HemisphericLight,
  Mesh,
  MeshBuilder,
  PBRMetallicRoughnessMaterial,
  Color3,
  CubeTexture,
  Angle,
  TransformNode,
} from '@babylonjs/core';
import earthColorImg from './assets/img/earth.jpg';
import pxSpaceImg from './assets/img/spacemap/xpos.png';
import pySpaceImg from './assets/img/spacemap/ypos.png';
import pzSpaceImg from './assets/img/spacemap/zpos.png';
import nxSpaceImg from './assets/img/spacemap/xneg.png';
import nySpaceImg from './assets/img/spacemap/yneg.png';
import nzSpaceImg from './assets/img/spacemap/zneg.png';

const EARTH_AXIAL_TILT_DEG = 23.5;

@Options({
  components: {
  },
})
export default class App extends Vue {
  mounted() {
    const canvas = document.getElementById('earthCanvas');
    if (!canvas) {
      throw new Error(`Could not find 'earthCanvas`);
    }

    // initialize babylon scene and engine
    const engine = new Engine(canvas as HTMLCanvasElement, true);
    const scene = new Scene(engine);

    const camera = new ArcRotateCamera('Camera', Math.PI / 2, Math.PI / 2, 2, Vector3.Zero(), scene);
    camera.attachControl(canvas, true);
    camera.wheelPrecision = 100;

    const sun = new HemisphericLight('sun', new Vector3(1, 1, 0), scene);

    const earth = MeshBuilder.CreateSphere('earth', { diameter: 1 }, scene);

    const earthColorTexture = new Texture(
      earthColorImg,
      scene,
      false,
      false,
      Texture.BILINEAR_SAMPLINGMODE,
      null,
      (message?, exception?) => {
        if (message) {
          console.error(message);
        }
      },
    );

    const earthMaterial = new StandardMaterial('earthMaterial', scene);
    earthMaterial.specularColor = new Color3(0, 0, 0);
    earthMaterial.ambientTexture = earthColorTexture;
    earth.material = earthMaterial;

    const spaceBox = MeshBuilder.CreateBox('spaceBox', { size: 1000.0 }, scene);
    const spaceMaterial = new StandardMaterial('spaceMaterial', scene);
    spaceMaterial.backFaceCulling = false;
    spaceMaterial.reflectionTexture = new CubeTexture('', scene, null, false, [
      pxSpaceImg,
      pySpaceImg,
      pzSpaceImg,
      nxSpaceImg,
      nySpaceImg,
      nzSpaceImg,
    ]);
    spaceMaterial.reflectionTexture.coordinatesMode = Texture.SKYBOX_MODE;
    spaceMaterial.diffuseColor = new Color3(0, 0, 0);
    spaceMaterial.specularColor = new Color3(0, 0, 0);
    spaceBox.material = spaceMaterial;

    const earthAxis = new TransformNode('axisNode');
    earthAxis.rotate(new Vector3(0, 0, 1), Angle.FromDegrees(EARTH_AXIAL_TILT_DEG).radians());

    earth.parent = earthAxis;

    // hide/show the Inspector
    window.addEventListener('keydown', (ev) => {
      // Shift+Ctrl+Alt+I
      if (ev.key === 'i') {
        if (scene.debugLayer.isVisible()) {
          scene.debugLayer.hide();
          console.log('Debug OFF');
        } else {
          scene.debugLayer.show();
          console.log('Debug ON');
        }
      }
    });

    // Register a render loop to repeatedly render the scene
    engine.runRenderLoop(() => {
      earth.rotate(new Vector3(0, 1, 0), Angle.FromDegrees(-0.1).radians());
      scene.render();
    });

    // Watch for browser/canvas resize events
    window.addEventListener('resize', function () {
      engine.resize();
    });

  }
}
</script>

<style lang="scss">
html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#earthCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    background-color: black;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
